.hero-flex {
     display:flex;
     flex-direction:column;
     align-items:center !important;
}

.hero-title {
     text-align: center;
     font-size:50px;
     width: 80%;
}


.hero-middle {
     width:100%;
     display:flex;
     justify-content: space-between;
     font-size:18px;
}

.hero-left-text, .hero-right-text {
     width:300px;
}

.hero-right-text {
text-align:right;
}

.hero-button {
transform: translateY(90%);
}

.hero-image {
z-index:100;
transform: translateY(25%);
}

.hero-image img {
     width:100%;
     border-radius:60px;
     opacity:0.6;
}

.hero {
     position: relative;
     border-radius:60px;
     z-index:99 !important;
}

@keyframes heroHeading {
     from {transform:translateY(-20px); opacity:0;}
     to  {transform:translateY(0); opacity:1;}
}

.hero-title {
animation-name:heroHeading;
animation-duration:2s;
}

@media only screen and (max-width:1035px) {
.hero-left-text, .hero-right-text {
     width:250px;
}
.hero-title {
     font-size:2.5rem;
}
}

@media only screen and (max-width:860px) {
     .hero-middle {
          justify-content: center;
          p {
               display:none;
          }
     }
     .hero-button {
        transform:translateY(0);
        margin:2rem 0;
     }

     .hero-title {
          width:100%;
     }
}

@media only screen and (max-width:755px) {
     .hero-title {
          font-size:2.2rem !important;
          width:100%;
     }
}

@media only screen and (max-width:600px) {
      .hero-flex {
          height:50vh;
          justify-content: center;
     }
     .hero-title {
          font-size:1.5rem !important;
          width:80%;
     }
     .hero-image {
          display:none;
     }
}

@media only screen and (max-width:470px) {
     .hero-title {
          font-size:1.5rem !important;
          width:100%;
     }
}


.hero-right-text {
     animation-name: heroRightText;
     animation-timing-function: ease-in-out;
     animation-duration: 0.75s;
}

@keyframes heroRightText {
     from {transform:translateX(100%); opacity:0;}
     to {transform:translateX(0); opacity:1;}
}

.hero-left-text {
     animation-name: heroLeftText;
     animation-timing-function: ease-in-out;
     animation-duration: 0.75s;
}

@keyframes heroLeftText {
     from {transform:translateX(-100%); opacity:0;}
     to {transform:translateX(0); opacity:1;}
}


