.hero-flex {
     display:flex;
     flex-direction:column;
     align-items:center !important;
}

.hero-title {
     text-align: center;
     font-size:50px;
     width: 80%;
}

.hero-middle {
     width:100%;
     display:flex;
     justify-content: space-between;
     font-size:18px;
}

.hero-left-text, .hero-right-text {
     width:300px;
}

.hero-right-text {
text-align:right;
}

.hero-button {
transform: translateY(90%);
}

.hero-image {
z-index:100;
transform: translateY(25%);
}

.hero-image img {
     width:100%;
     border-radius:80px;
}

.hero {
     position: relative;
     border-radius:80px;
     z-index:99 !important;
}