.services {
     position: relative;
     width:100%;
     transform:translateY(-60px);
     z-index:1 !important;
     padding-top:18%;
}

.services-heading {
     display:flex;
     justify-content: space-between;
     align-items: center;
}

.services-title {
     color:#fff;
     font-size:6rem;
}

.text-left {
     font-size:25px;
     color:#fff;
     width:350px;
     text-align:right;
}

.services-list .service:last-child {
     border-bottom: none;
}

@media only screen and (max-width: 1000px) {
     .services-title {
          font-size:5rem;
     }     
     .text-left {
          font-size:20px;
          color:#fff;
          width:200px;
          text-align:right;
     }
}

@media only screen and (max-width: 750px) {
     .services-title {
          font-size:4rem;
     }     
     .text-left {
          font-size:18px;
          color:#fff;
          width:180px;
          text-align:right;
     }
 }

 @media only screen and (max-width: 650px) {
     .services-heading {
          flex-direction: column;
     }
     .services-title {
          padding-bottom:1.5rem;
     }
     .text-left {
          width:100%;
          text-align: center;
     }
 }

 @media only screen and (max-width: 450px) {
     .services-title {
          font-size:2.5rem;
     }
 }