svg {
     width:60px;
     height: 60px;
}

svg:hover {
     cursor: pointer;
}

.arrow-btn {
     padding:0;
     background: transparent;
     border:none;
     transition: transform 0.4s ease;
}

.service-heading {
     display:flex;
     color:#fff;
     font-size:3rem;

     .service-id, .service-title {
          font-size:3rem;
     }
     .service-id {
          transform:translateY(-20%);
          padding:10px;
          font-weight: bold;
     }
}

.service-img {
     transition: opacity 0.3s ease;
     cursor:pointer;
}

.service-img img {
     width:100%;
     border-radius: 60px;
}

.service { 
     display:flex;
     flex-direction: column;
     justify-content: center;
     padding:3rem 0;
     transition: all 1s ease-in-out;
     }

.service-row {
     height:100%;
     display:flex;
     justify-content: space-between;
     align-items:center;
}

.service-desc {
font-size:20px;
padding-top:3rem;
}

.show-btn {
     opacity:1;
}

.hide-btn {
     opacity:0;
}

.rotate-btn {
     transform:rotateZ(-45deg);
}

.service-visible {
opacity:1;
}

.hidden {
     opacity:0;
     }

 @media only screen and (max-width: 650px) {
     .service-id, .service-title {
          font-size:2rem !important;
     }
     .service-img img {
          border-radius: 40px !important;
     }
 }

 @media only screen and (max-width: 450px) {
     .service-id, .service-title {
          font-size:1.5rem !important;
     }
     .service .service-desc {
          font-size:16px !important;
     }
 }

//  .pulse {
//      animation: pulse 1.4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
//    }
//    .loadable {
//      border-radius: 60px;
//      overflow: hidden;
//      margin: 0 auto;
//      box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
//        0 2px 4px -1px rgba(0, 0, 0, 0.06);
//    }
//    img {
//      display: block;
//    }
   
//    @keyframes pulse {
//      0%,
//      100% {
//        opacity: 1;
//      }
//      50% {
//        opacity: 0.3;
//      }
//    }
   