.projects{
     background-color: #CFF5E7;
     border-radius: 60px;
     position: relative;
     z-index:100 !important;
     padding: 4rem 1.5rem !important;
}

.projects-flex {
     display: flex;
     flex-direction: column;
     align-items: center;
     // padding-bottom:10rem;
}

.projects h1 {
font-size:6rem;
}

.projects p {
     font-size:20px;
     font-weight: 600;
}

.projects-grid {
     width:100%;
     display:grid;
     grid-template-columns: 1fr 1fr 1fr;
     grid-template-rows: 1fr 1fr;
     grid-gap:10px;
     transition: opacity 0.5s ease-in-out;

     img {
          width:100%;
          border-radius:60px;
          transition:all 0.3s ease-in-out;
          cursor:pointer;
     }

     .img1 {
          grid-column: 1 / span 2;
          grid-row: 1 / span 2;
          z-index:1;
     }
     .img2 {
          grid-column: 3 / span 1;
          grid-row: 1 / span 1;
          z-index:2 !important;
          img {
               width:100%;
               height:100%;
               object-fit: cover;
          }
     }
     .img3 {
          grid-column-start:3;
          grid-row-start:2;
          z-index:1;
          img {
               width:100%;
               height:100%;
               object-fit: cover;
          }
     }

     .project-img {
          position:relative;
          cursor:pointer;
          transition:all 0.3s ease-in-out;
     }

     .project-img::before {
          content: '';
          position: absolute;
          width:100%;
          height:100%;
          bottom:0;
          left:0;
          opacity:50%;
          border-radius: 60px;
          transition:all 0.3s ease-in-out;
     }

     .img1::before {
          bottom:-3%;
          left:-3%;
          background-color: #1C3144;
          z-index:-1;
     }

     .img2::before {
          left:-4%;
          bottom:-3%;
          z-index:-1;
          background-color: #1C3144;
     }

     .img3::before {
          left:4%;
          bottom:-3%;
          z-index:-1;
          background-color: #1C3144;
     }

     .img1:hover img, .img2:hover img {
          transform:translate(1%, -1%);
     }

     .img3:hover img{
          transform:translate(-1%, -1%);
     }
}

.project-img:hover::before {
     background-color: rgba(28, 49, 68, 0.7) !important;  
  }

  
@media only screen and (max-width: 800px) {
.projects h1 {
font-size:2.5rem;
margin-bottom:1.5rem !important;
}

.projects p {
text-align: center;
}

.project-img::before {
     bottom:-3% !important;
     left:-3% !important;  
}

.img1 {
     grid-column:1 /span 3 !important;
}
.img2 {
     grid-column:1 / span 3 !important;
     grid-row: 3 / span 2 !important;
}

.img3 {
     grid-column: 1 / span 3 !important;
     grid-row: 5 / span 2 !important;
     img {
          border-radius:60px;
     }
}

     .projects-grid {
          gap:3rem;
     }
}

@media only screen and (max-width: 750px) {
     .projects-flex {
          padding-bottom:4rem !important;
     }
}

@media only screen and (max-width: 400px) {
     .projects-flex {
          padding-bottom:3rem !important;
     } 
}

.projects-visible {
     opacity:1;
     transform:translateX(0);
     }
     
     .projects-hidden {
          opacity:0;
          transform:translateX(-100px);
          }