.services-page .services {
     padding-top:6rem;
}

.services-page + .footer {
     padding-top:36px;
}

@media only screen and (max-width: 450px) {
     .services-page + .footer {
          height:500px !important;
     }
     
}