.projects-page {
     border-radius:60px;
     position:relative;
     z-index:3;
}

.projects-page + .footer {
     transform:translateY(-60px);
     position:relative;
     z-index:-1;
}

.projects-list {
transform:translateY(-60px);
padding-top:10rem;
height:100%;
border-bottom-left-radius: 60px;
     border-bottom-right-radius: 60px;
}

.projects-list-grid {
     display:grid;
     grid-template-columns:1fr 1fr;
     grid-gap:10%;
     width:100%;
     height:100%;
     padding-bottom:10rem;
}

.project-grid-item {
     display:flex;
     flex-direction: column;
     align-items: center;
     text-align:center;

     h1 {
          padding:1.5rem;
          font-size:2.5rem;
          font-weight: 600;
     }

     p {
          font-size:20px;
     }

     .project-img {
          position:relative;
          img {
          width:100%; 
          height:100%;
          object-fit: cover;
          border-radius:40px;
          transition:all 0.3s ease-in-out;
          cursor:pointer;
          }
     }

     .project-img::before {
          content: '';
          position: absolute;
          width:100%;
          height:100%;
          bottom:-3%;
          left:-3%;
          opacity:50%;
          border-radius: 40px;
          background-color: #CFF5E7;
          z-index:-1;
     }

     .project-img:hover img {
          transform:translate(1%, -1%);
     }
}

.projects-container {
padding-bottom:200px;
}

.projects-page + .footer {
     transform: translateY(-120px);
}

@media only screen and (max-width:850px) {
     .projects-list {
          padding-top:5rem !important;
     }
     .projects-container {
          padding-bottom:150px;
     }
     .projects-list-grid {
          grid-template-columns: 1fr !important;
          grid-gap:2%;
          .project-grid-item {
               h1 {
                    margin-top:2rem;
               }
          }
     }
}

@media only screen and (max-width:500px) {
     .projects-container {
          padding-bottom:100px;
     }
     .projects-list {
          padding-top:5rem !important;
     }
     .project-grid-item {
          p {
               font-size:1rem;
          }

          h1 {
               font-size:2rem !important;
               margin-top:1rem !important;
          }
     }
}

@media only screen and (max-width:420px) {
     .project-grid-item h1 {
          font-size:1.6rem !important;
     }
}