.contact {
     width:100%;
     height:650px;
     position:relative;
     z-index:5;
     border-bottom-left-radius: 60px;
     border-bottom-right-radius: 60px;
     h1 {
     font-size:6rem;
     padding:2rem 0;  
     }

     img {
          width:100%;
          height:100%;
          object-fit:cover;
          opacity:0.6;
          position:absolute;
          z-index:0;
          border-bottom-left-radius: 60px;
          border-bottom-right-radius: 60px;
     }

     .contact-flex {
          position:relative;
          z-index:1;
          display:flex;
          flex-direction: column;
          align-items:center;
     }

     form {
          display:flex;
          flex-direction: column;
          align-items:center;

          input {
               background-color:rgba(28, 49, 68, 0.5);
               border:0;
               outline:0;
               width:500px;
               padding:20px 30px;
               font-size:20px;
               margin:10px 0;
               font-family: 'Plus Jakarta Sans' !important;
               border-radius:50px;
          }

          input::placeholder {
               color:#CFF5E7;
          }
     }
}
