.footer {
     padding-top:6rem;
     transform:translateY(-60px);
     background-color: #1C3144;

     .work {
          display:flex;
          align-items:center;
     }

     .work h1 {
          font-size:4rem;
          font-weight:bold;
          width:80%;
          background-image: url('../../assets/heroImage.jpg');
          background-size:cover;
          background-clip:text;
          -webkit-background-clip:text;
          color:transparent;
     }
}

.footer .navbar {
justify-content: space-between;
padding:0;
}

.footer .container {
padding-bottom:3rem;
}

.footer .logo {
    order:-1;
}
